In [1]:
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

In [2]:
#Connect to gdrive
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#Basic Data Exploration
melb_path = '../content/drive/MyDrive/Dataset/melb_data.csv'
melbourne_data= pd.read_csv(melb_path)
melbourne_data.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
std        0.955748  6.393107e+05  ...      0.103916    4378.581772
min        1.000000  8.500000e+04  ...    144.431810     249.000000
25%        2.000000  6.500000e+05  ...    144.929600    4380.000000
50%        3.000000  9.030000e+05  ...    145.000100    6555.000000
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[8 rows x 13 columns]

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [7]:
melbourne_data= melbourne_data.dropna(axis=0)

In [8]:
y=melbourne_data.Price

In [9]:
melbourne_features = ['Rooms', 'Bathroom','Landsize','Longtitude','Lattitude']

In [10]:
x= melbourne_data[melbourne_features]

In [11]:
x.describe()

             Rooms     Bathroom      Landsize   Longtitude    Lattitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   144.990201   -37.807904
std       0.971079     0.711362    897.449881     0.099165     0.075850
min       1.000000     1.000000      0.000000   144.542370   -38.164920
25%       2.000000     1.000000    152.000000   144.926198   -37.855438
50%       3.000000     1.000000    373.000000   144.995800   -37.802250
75%       4.000000     2.000000    628.000000   145.052700   -37.758200
max       8.000000     8.000000  37000.000000   145.526350   -37.457090

In [12]:
x.head()

   Rooms  Bathroom  Landsize  Longtitude  Lattitude
1      2       1.0     156.0    144.9934   -37.8079
2      3       2.0     134.0    144.9944   -37.8093
4      4       1.0     120.0    144.9941   -37.8072
6      3       2.0     245.0    144.9993   -37.8024
7      2       1.0     256.0    144.9954   -37.8060

In [13]:
#Model
from sklearn.tree import DecisionTreeRegressor
melbourne_model = DecisionTreeRegressor(random_state=1)
melbourne_model.fit(x, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [14]:
print("Making predictions for the following 5 houses:")
print(x.head())
print("The predictions are")
print(melbourne_model.predict(x.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Longtitude  Lattitude
1      2       1.0     156.0    144.9934   -37.8079
2      3       2.0     134.0    144.9944   -37.8093
4      4       1.0     120.0    144.9941   -37.8072
6      3       2.0     245.0    144.9993   -37.8024
7      2       1.0     256.0    144.9954   -37.8060
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [15]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(x)
mean_absolute_error(y, predicted_home_prices)

1115.7467183128902

In [16]:
#split data 
from sklearn.model_selection import train_test_split
# run this script.
train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 0)
# Define model
melbourne_model = DecisionTreeRegressor()
# Fit model
melbourne_model.fit(train_x, train_y)

# get predicted prices on validation data
val_predictions = melbourne_model.predict(val_x)
print(mean_absolute_error(val_y, val_predictions))

268998.5728426942

In [17]:
#underfit and overfitt
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_x, train_y)
    preds_val = model.predict(val_x)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [18]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  385696
Max leaf nodes: 50  		 Mean Absolute Error:  279794
Max leaf nodes: 500  		 Mean Absolute Error:  262650
Max leaf nodes: 5000  		 Mean Absolute Error:  274002